$cell-size:50px;

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .game-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .game-cell {
        padding: 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: $cell-size;
        height: $cell-size;
        background: rgba(22, 147, 165, 0.8);
        border-radius: 4px;
        margin: 5px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            transform: scale(.98);
        }

        &:active {
            transform: scale(0.9);
        }

        user-select: none;
    }
}