$image-width:500px;
$blur-bubble:300px;
$blur-bubble-mobile:200px;
$blur-bubble-color:#34E89E;
$btn-color:#00B0FF;
$mobile:957px;
$image-width-mobile:55%;

main {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    height: 100%;

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
    }
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        order: 1;

        @media (max-width: $mobile) {
            margin-top: 40px;
        }

        img {
            width: 60px;
        }

        .main-text {
            font-weight: bold;
            margin-left: 10px;

            @media (max-width: $mobile) {
                font-size: 26px;
            }
        }
    }

    .tagline {
        font-size: 20px;
        width: 90%;
        margin-top: 10px;
        order: 2;
        text-align: center;

        @media (max-width: $mobile) {
            font-size: 18px;
        }
    }

    .inputs {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        order: 3;

        @media (max-width: $mobile) {
            margin-top: 40px;
        }

        .join-room {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        #join-room-input {
            height: 100%;
            outline: none;
            border: none;
            border-bottom: 2px solid gray;
            padding: 4px;
            padding-left: 8px;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            background-color: transparent;
            margin-right: 4px;

            @media (max-width: $mobile) {
                width: 80%;
            }
        }

        .or {
            margin: 20px;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
        }

        button {
            outline: none;
            border: none;
            border-radius: 4px;
            background-color: $btn-color;
            padding: 10px 20px;
            color: #fff;
            text-align: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                transform: scale(0.95);
            }

            &:active {
                transform: scale(0.9);
            }
        }

    }
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
        width: $image-width;

        @media (max-width: $mobile) {
            width: $image-width-mobile;
        }
    }

    .bg-circle {
        position: absolute;
        width: $blur-bubble;
        height: $blur-bubble;
        border-radius: 50%;
        display: inline-block;
        background-color: $blur-bubble-color;
        filter: blur(300px);
        z-index: -1;
        top: 100px;
        right: 200px;

        @media (max-width: $mobile) {
            width: $blur-bubble-mobile;
            height: $blur-bubble-mobile;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
}