/*
    font-family: 'Delius', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
*/
@import "nav", "board";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;

}